<!DOCTYPE html>
<!--Html没法引入shiro的tag lib，此时如果要使用shiro的话，可以引入thymeleaf-extras-shiro.jar
参考：https://github.com/theborakompanioni/thymeleaf-extras-shiro-->
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body>
    <p shiro:hasPermission = "有登录权限"> <a href="index">刷新</a>主页</p>

    <p shiro:hasPermission = "无登录权限"><a href="index">测试无登录权限刷新</a>主页</p>

    登录成功!
    <p class="text-muted text-center">
        <a href="my/logout"><small>退出登录</small></a>
    </p>
</body>
</html>